/* slider swiper */
#Slide-template--15087439741031__slideshow_M4TyjP-1 .banner__media::after {
    opacity: 0 !important;
}
.swiper.mySwiper {
    overflow: visible;
}
.swiper-pagination.swiper-pagination-clickable{
}
.fgc-swiper-slider {
  max-width: 120rem;
      max-width: var(--page-width);
    margin: auto;
  overflow: hidden;
  padding: 0 5rem;
}
.swiper.mySwiper {
    padding-bottom: 40px;
}
.fgc-swiper-slider .swiper-button-prev, .fgc-swiper-slider .swiper-button-next {
  display: block;
}
.swiper-button-prev:after, .swiper-button-next:after {
    color: red;
    font-size: 16px !important;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 11px 0 #cecece;
    opacity: 0.8;
}
.fgc-swiper-slider h2 {
  text-align: ce
}
.swiper.mySwiper {
    overflow: hidden;
}
/* end slider swiper */

.multicolumn-list__item .media--adapt .multicolumn-card__image {
    width: 100% !important;
}
h1.main-page-title.page-title.h0.scroll-trigger.animate--fade-in {
    display: none;
}
.quick-add__submit {
    background-color: #f17121 !important;
    color: #fff !important;
}
.card__inner {
    border: 1px solid #d5c0c0 !important;
}
.test {
    color: red;
}
.related-product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.related-product-list a {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #d3ddee;
    padding: 20px;
    padding-bottom: 60px;
}
.section.related-products-wrapper .cell.product-tile__stock {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    display: flex;
    align-items: center;
}
.section.related-products-wrapper {
    padding: 20px 15px;
}
.section.related-products-wrapper h3{
    margin-bottom: 30px;
}

/* .related-product-price-wrapper { */
.product-tile__price-container {
    background-color: #ffc700;
    padding: 10px 15px;
    box-shadow: 2px 2px 0 #071b40;
    font-size: 32px;
    font-weight: 700;
    color: #071b40;
    margin-bottom: 20px;
    height: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}
.product-tile__price-container .fgc-inc-gst-label {
    font-size: 16px;
}
.section.related-products-wrapper .fgc-inc-gst-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}
.related-product-vendor, .related-product-sku, .related-product-name {
    color: #071b40;
    font-size: 16px;
    font-weight: 700;
}
.related-product-sku {
    padding-top: 5px;
}
.related-product-name {
    font-weight: 600 !important;
    line-height: 1!important;
}

.related-product-list a .related-product-name, .related-product-list a .related-product-sku {
    color: #2051ac !important;
}